venv/
__pycache__/
temp/
uploads/
downloads/
projetos/
cortes_temp/
cortes_prontos/
debug_cortes/
logs/
redis*/
*.mp4
*.wav
*.mp3
*.avi
*.zip
*.exe
*.json
*.rdb
*.part
*.db
estoque/
